<!DOCTYPE html>
<html>
<head>
  <title>MiniModeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><center>Simple Application to execute SQL statements</center></h1>
<h2><center>Please enter the correct details</center></h2>

<%= yield %>

</body>
</html>
